<h2>Code examples</h2>
<p>Copy (or drag) any of these examples into the code area on the left, then click the "Run" button. Make sure to clear previous code before copying, or it will run as well.</p>

<h3>No sitelinks on Wikidata</h3>
<p>This example uses <a href='http://wdq.wmflabs.org'>WikiData Query</a> to get the phylogenetic tree of the Komodo dragon, then finds those items <i>without</i> a sitelink to English Wikipedia.</p>
<p>The last code line uses a built-in function to display a list of pages/items. This example should run very quickly.</p>
<pre>
// Get the phylogeny of the Komodo dragon
p1 = ts.wdq ( "tree[4504][171,273,75,76,77,70,71,74,89]" ) ;

// Of those items, get the ones without a site link to en.wp
p2 = p1.getItemsWithoutSitelink ( 'enwiki' ) ;

// Display those items
ts.show ( p2 ) ;
</pre>

The same thing as a lean, mean one-liner, demoing function chaining:
<pre>
ts.wdq("tree[4504][171,273,75,76,77,70,71,74,89]").getItemsWithoutSitelink('enwiki').show()
</pre>

<h3>Articles in a category tree with no Wikidata item</h3>
<p>Get en.wp articles about scientists born in the 20th century and show those without wikidata item.</p>
<p><code>ts.categorytree</code> basically uses the parameters from <a href='http://tools.wmflabs.org/catscan2/quick_intersection.php'>QuickIntersection</a>.</p>
<p>This example will take a few seconds to run. You can see the output while it runs, then it shows the results table.</p>
<pre>
p3 = ts.categorytree ( {
	project:"wikipedia",
	lang:"en",
	cats:[ // Single string, or array of strings
		"American scientists",
		"20th-century births"
	],
	depth:12, // The category search depth
	redirects:"none", // No redirects please!
	wikidata:"noitem" // Only results without a Wikidata item
} ) ;

ts.show ( p3 ) ;
</pre>

<h3>Filters</h3>
<p>In this example, two page lists (p1 and p2) are generated manually. Then, a filter is applied to list p2, keeping only the pages matching the filter; in this case, the page needs to be in list p1. The result ends up in p3, while p1 and p2 remain unchanged.</p>
<pre>
// Create new, empty page list "p1" for en.wikipedia
p1 = ts.getNewList('en','wikipedia');

// Add some entries
p1.addPage('Test 1');
p1.addPage('Charles Darwin');
p1.addPage('Test 2');


p2 = ts.categorytree ( {
	project:"wikipedia",
	lang:"en",
	cats:"English agnostics",
	redirects:"none" // No redirects please!
} ) ;

// Get those pages in p2 that are also in p1,
// store them in p3
p3 = p2.filterKeep ( { inList:p1 } ) ;

ts.show ( p3 ) ;
</pre>