<h2>So how does this work?</h2>

<p>
To use this tool, you should have some experience in programming, preferable in JavaScript.
There are many JavaScript tutorials out there, like <a href='https://en.wikibooks.org/wiki/Javascript'>this one</a>.
Even if you have not done any programming before, you could try some of the
<a href='code_examples.html'>examples</a>, and maybe experiment with altering some code;
don't worry, it would be quite hard to inadvertently break anything :-)
</p>

<p>
This tool comes with several often-used functions, such as "give me all pages on a Wikipedia
in a category tree". Most of these functions generate <a href='pagelist.html'>lists of pages</a>,
which can subsequently filtered, merged, shown, or even become the basis for automated edits.
</p>

<h3>Some technical notes</h3>
If you are comfortable with JavaScript, here are some points you might find useful:
<ul>
<li>jQuery 10.x (and bootstrap) are loaded by default.</li>
<li>All functions provided by the <a href='ts_object'>main object</a> and the list class are <i>synchronous</i>; this allows for "nice" scripting, rather than the usual JS callback mess.</li>
<li>Most scripts would start with calling a <code>ts</code> function.</li>
<li>As most functions return page list objects, you can "chain" such functions into a single command.</li>
<li>Variables declared with <code>var</code> will only exist during the script run. Variables <i>without</i> <code>var</code> will stay around until you reload the page.
The same goes for variables created with the "Add pages" dialog.</li>
<li>The only editing functions currently available work on Wikidata, through OAuth/<a href='/widar'>WiDaR</a>, which requires one-time authorisation.</li>
</ul>
