<h2>Welcome to ToolScript!</h2>
<p>Here, you can run JavaScript code on Wikimedia projects, directly from your browser, with many "comfort" functions available.</p>
<p>Yes, it involves some programming. Your chance to learn &ndash; it's not that hard!</p>

<h3>For the impatient</h3>
<p>Have some <a href='code_examples.html'>code examples</a>.</p>

<h3>What can this do?</h3>
<p>This tool allows you to run arbitrary JavaScript code, which you type or paste into the box to the left, and then press "Run".
It does save you from having to set up a Labs tool, a web page, JavaScript library inclusions etc.
It also provides simple "wrappers" around other tools, such as <a href='http://wdq.wmflabs.org/'>Wikidata Query</a> and <a href='/catscan2/quick_intersection.php'>category trees/intersections</a>.
These wrappers produce page lists (you can also create those directly via the "Add pages" button). You can then merge, subset, display, and modify those lists any way you like.
You can also have the tool perform actions on these lists, e.g. add Wikidata items and statements.</p>

<h3>How-to</h3>
<ul>
<li><a href='coding_intro.html'>Introduction to writing and running code here</a></li>
<li><a href='ts_object.html'>The main object</a></li>
<li><a href='pagelist.html'>Page lists</a></li>
</ul>

<h3>Other</h3>
<ul>
<li>Code for this tool is <a href='https://bitbucket.org/magnusmanske/toolscript'>here</a>.</li>
</ul>