<h2>The main object</h2>

The main object of this tool is named <code>ts</code> (short for "toolscript").
It offers several functions, mainly wrappers around other tools such as WDQ.

<h2>Functions</h2>
This is an (incomplete) list of functions (methods) of the global <code>ts</code> object.

<h3>log</h3>
<pre>ts.log ( "message" )</pre>
Writes a message to the output log.

<h3>getNewList</h3>
<pre>new_list = ts.getNewList ( "language" , "project" )</pre>
<pre>new_list = ts.getNewList ( "site" )</pre>
Generates a new, empty <a href="pagelist.html">page list object</a>. Parameters are <code>language</code> ("" for wikidata) and <code>project</code>.
If only one parameter is used, it is interpreted as a site name to initialise <code>language</code> and <code>project</code>.

<h3>wdq</h3>
<pre>list = ts.wdq ( "query" )</pre>
Runs a <a href='http://wdq.wmflabs.org'>WikiData Query</a> and returns a page list for Wikidata, with the resulting items of the query.

<h3>categorytree</h3>
<pre>list = ts.categorytree ( { <i>parameter object</i> } )</pre>
<p>Runs a <a href='http://tools.wmflabs.org/catscan2/quick_intersection.php'>QuickIntersection</a> and returns a page list for the results.</p>
<p>You can use all parameters used by QuickIntersection; the most important ones include:</p>
<ul>
<li><i>lang</i> or <i>language</i> : Language code <b>[mandatory]</b></li>
<li><i>project</i> : Project name <b>[mandatory]</b></li>
<li><i>cats</i> or <i>root</i> : Either a string for a single root category, or an array of multiple category tree roots for intersection <b>[mandatory]</b></li>
<li><i>ns</i> : Namespace for pages to return (numerical; 0=articles [default], 6=files)</li>
<li><i>depth</i> : Category tree depth (default:12)</li>
<li><i>max</i> : Max number of results (default:30000)</li>
<li><i>redirects</i> : Include redirects in results (redirects are included by default; use "none" or "only" otherwise)</li>
<li><i>wikidata</i> : "noitem" to get only pages that have no Wikidata item</li>
</ul>
